[tool.poetry]
name = "strapi-client"
version = "2.1.0"
description = "Work with Strapi from Python via REST API"
authors = ["Pavel Roslovets <p.v.roslovets@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/Roslovets-Inc/strapi-client"
repository = "https://github.com/Roslovets-Inc/strapi-client"
keywords = ["strapi", "cms", "api", "rest"]
classifiers =[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
    ]

[tool.poetry.dependencies]
python = ">=3.6"
aiohttp = "*"

[tool.poetry.dev-dependencies]
python-semantic-release = "*"
lazydocs = "*"
pydocstyle = "*"
toml = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
remove_dist = "false"
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
upload_to_release = "true"
upload_to_pypi = "true"
